<div class="grid">
  <nav class="col--1-1" role="navigation" data-tabs>
    <ul class="tabs tabs--block u-spacer--none" data-tabs-list>
      <li class="tab">
        {{!--             {{#wu-link-button class="button--link button--tiny" isNarrow=true onClick=(action "showMandatarissen")}}
              Beheer mandatarissen
            {{/wu-link-button}} --}}
        <a class="tab__link" href="#" onclick={{action 'showMandatarissen'}}> Beheer mandatarissen</a>
      </li>
      <li class="tab tab--active">
        {{!--             {{#wu-link-button class="button--link button--tiny" isNarrow=true onClick=(action "showFracties")}}
              beheer fracties
            {{/wu-link-button}} --}}
        <a class="tab__link" href="#" onclick={{action 'showFracties'}}> Beheer fracties</a>
      </li>
    </ul>
  </nav>
</div>

{{#if displayMandatarissen}}
  {{editor-plugins/fractievorming-mandatarissen-table
    mandatarissen=mandatarissen
    fracties=fracties
    bestuursorgaan=bestuursorgaan
    bestuurseenheid=bestuurseenheid
  }}
{{else}}
  {{editor-plugins/fractievorming-fracties-table
    fracties=fracties
    onRemoveFractie=(action "onRemoveFractie")
    bestuursorgaan=bestuursorgaan
    bestuurseenheid=bestuurseenheid
  }}
{{/if}}

{{yield}}
