<td>
  {{#if editing}}
    {{input class="input-field input-field--block" value=fractie.naam}}
  {{else if creating}}
    {{input class="input-field input-field--block" value=fractie.naam}}
  {{else}}
    <strong>{{fractie.naam}}</strong>
  {{/if}}
</td>
<td>

  {{#wu-button-group}}
    {{#if creating}}
      {{#wu-link-button class="button--small" isNarrow=true onClick=(action "create" fractie)}}
        <i class="vi vi-check vi-u-xs"></i>Bewaar nieuwe fractie
      {{/wu-link-button}}
      {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "cancelCreate")}}
        <i class="vi vi-cross vi-u-s"></i>Annuleer
      {{/wu-link-button}}
    {{else if editing}}
      {{#wu-link-button class="button--small" isNarrow=true onClick=(action "save")}}
        <i class="vi vi-check vi-u-s"></i>Bewaar wijzigingen
      {{/wu-link-button}}
      {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "cancel")}}
        <i class="vi vi-cross vi-u-s"></i>Verwerp wijzigingen
      {{/wu-link-button}}
    {{else}}
      {{#unless fractie.fractietype.isOnafhankelijk}}
        {{#wu-link-button class="button--small" isNarrow=true onClick=(action "edit")}}
          <i class="vi vi-edit vi-u-s"></i>Bewerk fractie
        {{/wu-link-button}}
        {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "remove" fractie)}}
          <i class="vi vi-cross vi-u-s"></i>Verwijder
        {{/wu-link-button}}
      {{/unless}}
    {{/if}}
  {{/wu-button-group}}
</td>
{{yield}}
