<td>{{editor-plugins/fractie-selector fracties=fracties fractie=mandataris.heeftLidmaatschap.binnenFractie onSelect=(action "changeFractie")}}</td>
<td>
  {{editor-plugins/fractievorming-datetime-edit datetimeStr=(mut mandataris.heeftLidmaatschap.lidGedurende.begin)}}
</td>
<td><strong>{{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}</strong></td>
<td>
  {{mandataris.bekleedt.bestuursfunctie.label}}
</td>
